<h1>Welcome#Sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>

<%# Comment %>
<%= "Count to 20" %>
<br />

<% 21.times do |i| %>
  <%= i %>
<% end %>

<br />
<br /> 

<%= "Message from Controller :
#{@controller_message}" %>
